@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-clr: #124680;
  --secondary-clr: #3f9fe8;
  --accent-clr: #94eb00;
  --heading-font: "Archivo Black";
}

body {
  font-family: "Lora", serif;
  /* color:#124680 */
  color: #222;
}

h1,
h2,
h3,
h4 {
  font-family: "Archivo Black", sans-serif;
  color: var(--primary-clr);
}
